body {
    background-color: black;
    
}
.container {
    background-color: #c00025;
    width: 40%;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    padding: 2%;
    margin: 0 auto;
}
.App {
  
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 0% 3%;
}

.spec-num {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 50%;
    margin: .5em .7em;
    padding: 4% 8%;
    font-size: 1.5em;
    width: 2.7em;
    height: 2.7em;
    border: transparent;
    color: white;
    box-shadow: 2px 2px 2px #111;
    transition: all .05s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn:focus {
    outline: 0;
    
}
.btn:active {
    transform: translateY(2px);
    box-shadow: 3px 3px 3px #111;
}

.big {
    width: 6.8em;
    height: 2.8em;
    border-radius: 50px; 
}
.display {
    margin-top: 25px;
    height: 200px;
    width: 70%;
    
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 7.0rem;
  }
  @media(max-width: 1200px) {
      .container {
          width: 50%;
      }
  }
  @media(max-width: 800px) {

    .container {
        width: 60%;
    }
    .btn {
        border-radius: 50%;
        margin: .5em .7em;
        padding: 3% 6%;
        font-size: .5em;
        width: 2.6em;
        height: 2.6em;
        text-align: center;
    }

    .big {
        width: 6.4em;
        height: 2.6em;
        border-radius: 50px;
        
    }
  }

  @media(max-width: 600px) {

    .container {
        width: 60%;
    }
    .btn {
        border-radius: 50%;
        margin: .5em .7em;
        padding: 3% 6%;
        font-size: .5em;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
    }

    .big {
        width: 4.6em;
        height: 1.6em;
        border-radius: 50px;
        
    }
  }

  @media(max-width: 500px) {
      .container {
          background: none;
          border: none;
          width: 100%;
      }

    .btn {
        border-radius: 50%;
        margin: .5em .7em;
        padding: 3% 6%;
        font-size: .5em;
        width: 1.6em;
        height: 1.6em;
        text-align: center;
    }

    .big {
        width: 4.6em;
        height: 1.6em;
        border-radius: 50px;
        
    }
    
}

@media(max-width: 400px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .buttons {
        width: 55%;
    }

  .btn {
      border-radius: 50%;
      margin: .5em .7em;
      padding: 3% 6%;
      font-size: .5em;
      width: 1.4em;
      height: 1.4em;
      text-align: center;
  }

  .big {
      width: 4.2em;
      height: 1.4em;
      border-radius: 50px;
      
  }
  
}